.header {
  background: var(--gray-800);
  display: flex;
  justify-content: center;
  padding: 1.25rem 0;
}

.header img {
  height: 2rem;
}

.container {
  display: flex;
  gap: 1rem;
  font-size: 1rem;
  color: var(--gray-100);
}
